<div id="wizard_body" class='wizard_body'>
  <h2>Teapot Calibration Wizard - Step 1</h2>

  <p>Hello, I'm the teapot wizard.</p>

  <p>
    I'm just here to get an idea just how big your teapot is so Teabot
    can work out exactly how full your it is, and nobody will be
    disappointed when he tell them there's a cup or two left.
  </p>

  <p>
    First things first, empty your teapot, pop the lid back on,
    and set it down on the scale. Then press Continue.
  </p>

  <%= erb :_calibrate_form, :locals => {:step => 2} %>
</div>