<form action='/calibrate' id="calibrate_form">
  <input type="hidden" name="step" value='<%=step%>' />
  <input type="submit" value="Continue" class='wizard_submit'/>
</form>

<script type="text/javascript">
    jQuery('#calibrate_form').on('submit', function(e) {
        e.preventDefault();
        jQuery.ajax({
            type: 'POST',
            cache: false,
            url: '/calibrate',
            data: jQuery('#calibrate_form').serialize(),
            success: function(response){
                //alert(response);
                jQuery('#wizard_body').html(response);
            }
        });
    });
</script>