<p>
  Well, you're done! Thanks for all that data, the Teabot will be delighted.
</p>
<p>
  You can use this data right away, you could make a pot right now and it'd show
  roughly the right level on the Teabot homepage.
</p>
<p>
  Oh. and one last thing! Which teapot are you using? Choose a name, or name it,
  then you can swap back-and-forth a little more easily.
</p>

