<% if @error %>
  <div class='error'>
    <%= @error %>
  </div>
<% end %>


<h2>Teapot Calibration Wizard - Complete!</h2>

<p>
  Well, you're done! Thanks for all that data, the Teabot will be delighted.
</p>

<p>
  You can use this data right away, you could make a pot right now and it'd show
  roughly the right level on the Teabot homepage.
</p>

<p>
  Oh. and one last thing! Which teapot are you using? Choose a name, or name it,
  then you can swap back-and-forth a little more easily.
</p>

<form action='/calibrate' id="calibrate_form" method='post'>
  <input type="hidden" name="step" value='5'/>

  <p>
    <label for="teapot['name']">Teapot</label>
    <select name="teapot[name]" id="teapot_select">
      <% @teapots.each do |teapot| %>
        <option value="<%= teapot %>"><%= teapot %></option>
      <% end %>
      <option value='new'>A new teapot</option>
    </select>
  </p>
  <p id="new_name" style='display:none;'>
    <label for="teapot['new_name']">New Teapot Name</label>
    <input type="text" name="teapot[new_name]"/>
  </p>
  <input type="submit" value="Finish" class='wizard_submit'/>
</form>

<script type="text/javascript">
  function show_name() {
    if (jQuery('#teapot_select').val() == 'new') {
      jQuery('#new_name').show()
    }
    else {
      jQuery('#new_name').hide()
    }
  }

  jQuery('#teapot_select').on('change', function () {
    show_name()
  });
  show_name()
</script>

