<!DOCTYPE HTML>
<head>
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/css/teabot.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
  <script src='/javascript/jquery-1.10.1.min.js'></script>
  <script src='/javascript/jquery-ui.min.js'></script>
  <script src='/javascript/teabot.js'></script>
  <title id="head-title">Teabot</title>
</head>
<body>
<div class='site_holder'>
  <div class='header'>
    <div class='header-logo'>
      <img class='header-image' src="/header<%= (Time.now.min % 2)+1 %>.png">
    </div>
    <div class='menu'>
      <a href="/"><div>Home</div></a>
      <br style='clear:both;'/>
      <a href="/teapot_station"><div>Teapot Station Interface</div></a>
      <br style='clear:both;'/>
      <a href="/calibrate"><div>Calibrate Scale</div></a>
    </div>
  </div>
  <hr/>
  <% if @message %>
    <div class='message'>
      <%= @message %>
    </div>
  <% end %>
  <% if @error %>
    <div class='error'>
      <%= @error %>
    </div>
  <% end %>
  <div class='main'>
    <h1>TEABOT - The office teapot solution</h1>
    <%# yeild other content (check display method in main app file %>
