<!DOCTYPE HTML>
<head>
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class='site_holder'>
    <div class='header'>
      <img src="/header<%= (Time.now.min % 2)+1 %>.png">
    </div>
    <div class='main'>
      <h1>TEABOT - The office teapot solution</h1>
      <%# yeild other content (check display method in main app file %>
