.site_holder{
  width:1020px;
  padding:10px;
  background-color: #C9AF94;
  border-radius:10px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: #dcc0a2;
  border-radius:10px;
}

.footer{

}

.teapot-back{
  position:relative;
  background-color: white;
  width:400px;
  height:400px;
  padding:0px;
}

.teapot-border{
  position:absolute;
  z-index:2;
}

.teapot-fill{
  position:absolute;
  background-color:#8b4513;
  width:400px;
  z-index:1;
  /*top: 100px;
  height:100px;*/
}

.red{
  color:red;
}

.message_space{
  height: 20px;
  margin:10px;
}

.message{

}

.error{
  background-color: #ffc0a2;
  border-radius:10px;
  margin: 10px;
  padding:10px;
}